/* GRADIENT BACKGROUND */
/* walaupun tidak perlu karena sudah memakai dark theme 
   background tetapi sebagai backup dan opsi cadangan */

.gradient-background {
  background: linear-gradient(-45deg, #232526, #414345, #0f2027, #203a43);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html {
  scroll-behavior: smooth;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}
